li a {
    color: green;
}
body {
    background: white url("images/Lighthouse.jpg") repeat;
}
.card {
    margin-left: 2%;
    margin-right: 2%;
    max-width: auto;
    
}

.maxdetails{
    max-height: 100px;
    overflow: hidden;
    
}
.maximage
{
    min-width: 20px;
    min-height: 30px;
    max-height: 400px;
    max-width: 200px;
    overflow: hidden;
}
.maccard
{
    max-height: 450px;
    overflow: hidden;
}
