<!DOCTYPE html>
<html>
<head>
 <style >
  body {
background-image: url("https://cdn.pixabay.com/photo/2018/03/03/12/28/gavel-3195577__340.jpg");
background-repeat: repeat;
background-size: 100%;
}
 </style >
</head>
<body>
           <div align="center">
                <img src={{m2.cpics.url}}  alt="{{m2.cname}}| Client" style="height: 280px;
                    width: 280px; margin: auto !important;">
                    </div> </a>
                        <div class="lawyer-name">
                            <h4 style="margin: auto !important; text-align: center !important; font-size:x-large;"><span style="color:orange">{{m2.cname}}<br></h4>
                        </div>
                   
                    <div>
                        <p style="margin-right: 5%; text-align: center !important; font-size:large;"><span style="color:black"> {{m2.cdet}}</p>
                    </div>
              
            </div>
</body>
</html>